/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.quickCash{
	-fx-background-color:lightblue
}
.quickCash:hover{
    -fx-background-color:deepskyblue;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
.exitHome{
	-fx-background-color:mintcream
}
.exitHome:hover{
    -fx-background-color: rgb(255,192,4);
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
.moneyTextField{
	-fx-background-color:beige
}
.seven{
	-fx-background-color:skyblue
}
.seven:hover{
    -fx-background-color: azure;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
.other{
    -fx-background-color:ivory
}
.clear{
	-fx-background-color:darkgoldenrod
}
.takeOut{
	-fx-background-color:lightgrey
}
.takeOut:hover{
    -fx-background-color:silver;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
.table-view, .tree-table-view {
    /* Constants used throughout the tableview. */
    -fx-table-header-border-color: transparent;
    -fx-table-cell-border-color: transparent; /* Horizontal Lines*/
    -fx-background-color: transparent;
}

/* The column header row is made up of a number of column-header, one for each
   TableColumn, and a 'filler' area that extends from the right-most column
   to the edge of the tableview, or up to the 'column control' button. */
.table-view .filler, .tree-table-view .filler, .table-view .column-header,
.tree-table-view .column-header {
    -fx-size: 65;    -fx-border-style: null;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-background-color: transparent;
}

.table-view .show-hide-columns-button, .tree-table-view .show-hide-columns-button
{
    -fx-background-color: transparent;
}

.table-view .column-header .label, .table-view .filler .label,
.table-view .column-drag-header .label, .tree-table-view .column-header .label,
.tree-table-view .filler .label, .tree-table-view .column-drag-header .label
{
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-header-background, .tree-table-view .column-header-background
{
    -fx-background-color: transparent;
}

.table-row-cell, .tree-table-row-cell {
    -fx-cell-size: 30px;
    -fx-alignment: CENTER;
}

.table-cell {
    -fx-border-color: transparent; /* Vertical Lines*/
    -fx-border-width: 0;
}
