/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.quickCash{
	-fx-background-color:lightblue
}
.quickCash:hover{
    -fx-background-color:deepskyblue;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
.exitHome{
	-fx-background-color:mintcream
}
.exitHome:hover{
    -fx-background-color: rgb(255,192,4);
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
.moneyTextField{
	-fx-background-color:beige
}
.seven{
	-fx-background-color:skyblue
}
.seven:hover{
    -fx-background-color: azure;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
.other{
    -fx-background-color:ivory
}
.clear{
	-fx-background-color:darkgoldenrod
}
.takeOut{
	-fx-background-color:lightgrey
}
.takeOut:hover{
    -fx-background-color:silver;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}